{{#if resume.awards.length}}
<section id="awards">
	{{>components/header level=2 title=(t 'Awards')}}
	{{#each resume.awards}}
	<article class="flex">
		<div class="min-w-36 text-sm">
			{{#if date}}
			<span>
				{{#moment date "YYYY" datejs=false}}{{/moment}}
			</span>
			{{/if}}
		</div>
		<div>
			{{#if title}}
			{{>components/header level=3 title=title}}
			{{/if}}
			{{#if awarder}}
			<div >
				{{awarder}}
			</div>
			{{/if}}
			{{#if summary}}
			<div >
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
	</article>
	{{/each}}
</section>
{{/if}}