{{#if resume.interests.length}}
<section id="interests">
	{{>components/header level=2 title='Interests'}}
	<div class="grid grid-cols-4 gap-y-4 gap-x-8 print:grid-cols-2">
		{{#each resume.interests}}
		<div >
			{{#if name}}
			{{>components/header level=3 title=name}}
			{{/if}}
			{{#if keywords.length}}
			{{>components/tags tags=keywords}}
			{{/if}}
		</div>
		{{/each}}
	</div>
</section>
{{/if}}