{{#if resume.languages.length}}
<section id="languages">
	{{>components/header level=2 title=(t 'Languages')}}
	<div class="flex flex-col gap-1">
		{{#each resume.languages}}
		<article>
		<div>
			{{language}}

			{{#if fluency}}
				<span class="text-xs">
					{{fluency}}
				</span>
			{{/if}}

			{{#if summary}}
				<div>
					{{summary}}
				</div>
			{{/if}}
		</div>
		</article>
		{{/each}}
	</div>
</section>
{{/if}}