{{#if resume.references.length}}
<section id="references">
	{{>components/header level=2 title='References'}}
	{{#each resume.references}}
	<div >
		{{#if reference}}
		<blockquote>
			{{reference}}
		</blockquote>
		{{/if}}
		{{#if name}}
		<div >
			— {{name}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}