{{#if resume.skills.length}}
<section id="skills">
	{{>components/header level=2 title=(t 'Skills')}}
	<div class="grid grid-cols-2 gap-y-4 gap-x-8">
		{{#each resume.skills}}
		<article>
			{{#if name}}
				{{>components/header level=3 title=name}}
			{{/if}}

			{{#if summary}}
			<p>{{summary}}</p>
			{{/if}}

			{{#if level}}
			<div >
				<em>{{level}}</em>
			</div>
			{{/if}}

			{{#if keywords.length}}
			{{>components/tags tags=keywords}}
			{{/if}}
		</article>
		{{/each}}
	</div>
</section>
{{/if}}